graphics/*
tests/*
builds/*
.DS_Store
commands/*
fonts/*
build/
Audio/*
RBB_Windows/modules

!graphics/.gitkeep
!tests/.gitkeep
!builds/.gitkeep
!commands/.gitkeep
!fonts/.gitkeep
!audio/.gitkeep
!RBB_Windows/Modules

# https://stackoverflow.com/questions/4250063/how-to-gitignore-all-files-folder-in-a-folder-but-not-the-folder-itself
