graphics/*
tests/*
builds/*
.DS_Store
commands/*
fonts/*
build/
audio/*

!graphics/.gitkeep
!tests/.gitkeep
!build/.gitkeep
!commands/.gitkeep
!fonts/.gitkeep
!audio/.gitkeep

# https://stackoverflow.com/questions/4250063/how-to-gitignore-all-files-folder-in-a-folder-but-not-the-folder-itself
