[submodule "RBB_Windows/modules/SDL"]
	path = RBB_Windows/modules/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "RBB_Windows/modules/SDL_ttf"]
	path = RBB_Windows/modules/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
[submodule "RBB_Windows/modules/SDL_image"]
	path = RBB_Windows/modules/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "RBB_Windows/modules/SDL_mixer"]
	path = RBB_Windows/modules/SDL_mixer
	url = https://github.com/libsdl-org/SDL_mixer.git
